<!DOCTYPE html>
<html>
<head>
    <title>ConnectThread</title>
    <link rel="stylesheet" type="text/css" href="static/login.css"> <!-- Link to your main CSS file -->
</head>
<body>
    <header>
        <h1>Welcome to 🅲🅾🅽🅽🅴🅲🆃🆃🅷🆁🅴🅰🅳</h1>
        <nav>
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="registration.html">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h2>Join the Conversation</h2>
            <p>ConnectThread is a social discussion hub where you can discuss a wide range of topics, create threads, and interact with others.</p>
        </section>
        <section class="features">
            <h3>Key Features</h3>
            <ul>
                <li>Discussion Threads</li>
                <li>User-Friendly Interface</li>
                <li>Join the Community</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 ConnectThread</p>
    </footer>
</body>
</html>
