<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <title>ConnectThread</title>
</head>
<body>
    <form class="login-page" action="login.php" method="post">
        <h2>Welcome to ConnectThread!</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" placeholder="Enter your username" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" placeholder="Enter your password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
        <div class="register-link">
            <p>Haven't registered yet? <a href="registration.html">Register now</a></p>
        </div>
    </form>
</body>
</html>
